.parallax-container {
    height: 2vh;
  }

#noPad{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#noMarg{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#noMarg2{
    margin-bottom: 0px !important;
}

#space{
    margin: 2vh;
}


#footer {
    padding:20px 0px; 
    margin-top:20px;
}

#tag {
    background-color: rgb(88, 54, 214) !important;
}

#tag2 {
    background-color: rgba(32, 32, 32, 0.342) !important;
}