<div class="row">
	<div class="col s12">
		<h1>Rifa especial</h1>
		<% if(isFemale && isSurvey) { %>
			<p class="message success">¡Gracias! Usted está participando en la rifa especial. No tiene que hacer nada por ahora. El Domingo 12 de Mayo le dejaremos saber por email si ha ganado.</p>
		<% } else { %>
			<p class="message danger">Usted aún no está participando en la rifa especial</p>
		<% } %>

		<h2>Requerimientos</h2>
		<p>Para participar en esta Rifa especial, debes cumplir dos requerimientos: 1) Ser mujer y 2) Contestar nuestra encuesta dirigida para el público femenino.</p>

		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle <%= isFemale ? 'green' : 'red' %>"><%=  isFemale ? 'check' : 'clear'  %></i>
				<span class="title"><b>Ser mujer</b></span>
				<p>
					Esta rifa especial se ofrece solo para mujeres
					<% if( ! isFemale) { %>
						<br>Puedes definir tu sexo en <a href="#!" onclick="apretaste.send({'command':'PERFIL EDITAR'})">tu perfil</a>
					<% } %>
				</p>
			</li>
			<li class="collection-item avatar">
				<i class="material-icons circle <%= isSurvey ? 'green' : 'red' %>"><%=  isSurvey ? 'check' : 'clear'  %></i>
				<span class="title"><b>Contestar nuestra encuesta</b></span>
				<p>
					Muéstranos como piensan las Cubanas y gana §3
					<% if( ! isSurvey) { %>
						<br><a href="#!" onclick="apretaste.send({'command':'ENCUESTA'})">Responde la encuesta</a> para participar.
					<% } %>
				</p>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h2>Premios</h2>
		<p>Una vez que llene su perfil indicando que es mujer, y contente nuestra última encuesta, se encontrará automáticamente participando en la rifa especial. El <b>Domingo 12 de Mayo a las 11:59 PM</b> cerrará la rifa especial, se sacarán las tres ganadoras aleatoreamente, y se les dejará saber mediante email.</p>
	</div>

	<div class="col m4 s12">
		<div class="card">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/1.jpg"/>
				<span class="card-title yellow black-text"><b>#1</b></span>
			</div>
			<div class="card-content">
				<p>Una olla arrocera y un perfume Ulric de Varens</p>
			</div>
		</div>
	</div>

	<div class="col m4 s12">
		<div class="card">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/2.jpg"/>
				<span class="card-title yellow black-text"><b>#2</b></span>
			</div>
			<div class="card-content">
				<p>Una línea celular de Cubacel, lista para ser usada</p>
			</div>
		</div>
	</div>

	<div class="col m4 s12">
		<div class="card">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/3.jpg"/>
				<span class="card-title yellow black-text"><b>#3</b></span>
			</div>
			<div class="card-content">
				<p>Una recarga de 10 CUC, ya sea Cubacel o Nauta</p>
			</div>
		</div>
	</div>
</div>